#customFile .custom-file-input:lang(en)::after {
	content: "Select file...";
  }
  
  #customFile .custom-file-input:lang(en)::before {
	content: "Click me";
  }
  
  /*when a value is selected, this class removes the content */
  .custom-file-input.selected:lang(en)::after {
	content: "" !important;
  }
  
  .custom-file {
	overflow: hidden;
  }
  .custom-file-input {
	white-space: nowrap;
  }
  .custom-file-input ~ .custom-file-label::after {
    content: "Pesquisar";
}
#teste{
		width: 630px;
		margin: auto;
}
#teste2{
	background-color: black;
	opacity: 1;
}
.modal-body {
    max-height:80%; 
    overflow-y: auto;
}