@media print {
    body * {
      visibility: hidden;
    }
    #notPrintable *{
        visibility: hidden;
    }
    #printable, #printable * {
      visibility: visible;
    }
    #printable {
      position: absolute;
      left: 6%;
    }
    div{
        page-break-inside: avoid;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
  }

.fundo
{
    background-color: white;
}
body
{
    background-color: gray;
}